.frame
{
	width : 420px;
	font-family : Verdana;
	background-color : #EEEEEE;
	border-radius : 5px 5px 5px 5px;
	color: #01224a;
	padding-bottom : 5px;
}

#atiras
{
	padding : 15px; 
	padding-top : 0;
}

#atiras h4
{
	font-weight : normal;
	margin-top : 10px;
	margin-bottom : 0px;
}

#atiras h5
{
	font-weight : normal;
	margin : 0;
	margin-top : 10px;
	font-size : 16px;
}

#sum
{
	padding : 15px;
	padding-top : 10px; 
	padding-bottom : 0px;
}

#sum h3
{
	margin : 0;
	font-size : 19px;
	font-weight : normal;
	margin-bottom : 15px;
}

#sum h4
{
	font-weight : normal;
	margin-top : 0px;
	margin-bottom : 10px;
	font-size : 16px;
	text-align : right;
}


#error
{
	color: red;
	text-align : center;
}

#error h3
{
	font-weight : normal;
	margin : 0px;
	font-size : 16px;
}

.calc-form
{
	margin : 0;
}

.title
{
	background-color : #005398;
	height : 50px; 
	border-radius : 5px 5px 0px 0px; 
	text-align : center;	
}

.title h1
{
	font-weight: bold; 
	font-size : 20px;
	color : white;
	margin : 0;
	padding-top : 12px;
}

.date
{
	width : 70px;
}

.padding-top
{
	padding-top : 15px;
}

.submit
{
	background-color : #EEEEEE;
	color: #01224a;
	font-family : Verdana;
	width : 420px;
	text-align : center;
}

.form-submit
{
	width : 100px;
	height : 30px;
}

.or
{
	width : 45px;
}

.barrel
{
	width : 110px;
}

.title2
{
	width : 220px; 
	padding-bottom : 10px;
	color: #01224a;
}

.value
{
	padding-bottom : 10px;
	text-align : right;
	color: #01224a;
}

.sum
{
	font-weight : bold;
}

.invisible
{
	display : none;
}